
    <form method = "GET" action="/answer">
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="ask" placeholder="Stupid question here" value=<%= params[:ask]%>>
      <input type="submit" value="Ask!">
    </form>
