// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.qaset{
  border-left: 5px solid grey;
  margin: 10px;
  padding: 10px;
}

.qaset2{
  background-color: rgb(241, 241, 153);
  border-left: 5px solid grey;
  margin: 10px;
  padding: 10px;
}

.go_back {
  margin-top: 20px;
}
